/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* start*/

.background{
    background-color: rgb(40, 51, 87);
    padding: 100px 0;
}
.container{
    background-color: white;
    width: 600px;
    margin: 0 auto;
    padding: 50px ;
    border-radius: 30px;
}
.header{
    display: flex;
    margin-bottom: 35px;
    align-items: center;
    font-family: 'Microsoft JhengHei';
}
.photo{
    margin: 0 50px 0 20px;
    width: 180px;
    height: 180px;
}
.num{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 22px;
    padding-right: 50px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.1;
    text-align: center;
}
span{
    font-size: 14px;
    font-weight: normal;
}
.about{
    letter-spacing: 1.2;
    color: #111;
}
h1{
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}
h2{
    margin-bottom: 10px;
    font-size: 15px;
}

.community-icon{
    display: flex;
    align-items: center;
    font-size: 16px;
}
.fa-square-facebook,.fa-square-instagram,.fa-square-github{
    margin-right: 6px;
    color: rgb(54, 54, 54);
}
.fb-id,.ig-id,.github-id{
    margin-right: 17px;
    font-size: 14px;
}
.contant{
    
}
.function-icon{
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    border-bottom: 2px solid rgb(105, 105, 105);
    margin-bottom: 25px;
}
.fa-video{
    color: rgb(179, 179, 179);
    margin-bottom: 15px;
}
.post{
    display: flex;
    justify-content:space-around;
}
.box{
    width: 180px;
    height: 180px;
    background-color:rgb(198, 198, 198)
}